#eu{
    padding-left: 71px;
}
td{
    padding-left: 30px;
}
#tu{
    padding-left: 13px;
}
#container
{
    margin-right: 85%;
    color: white;
    margin-bottom: 1%;
}
#tuu{
    margin-bottom: 1%;
}
table{
    color: white;
}
h1{
    color: white;
}