#nos{
    width: 100%;
    height: 100%;
     margin-right: 54%;
     padding-right: 85%;
     padding-left: 0.5%;
     color: white;
 }
 .btn {
     margin-top: 1%;
     margin-right: 50px;
     margin-left: 10px;
 }
 #ou{
     margin-top: 10px;
   
 }
 h1{
     color: white;
 }
 #tu{
    padding-left: 13px;
}
table{
    color: white;
}
td{
    color: white;
}
th{
    color: white;
}