#eu{
    padding-left: 71px;
}
.form-group{
    margin-right: 80%;
    color: white;
    margin-left: 1%;
}
.form-check{
    color: white;
    margin-left: 1%;
}
.btn{
    color: white;
    margin-left: 1%; 
}
#tu{
    color: white;
    
}
td{
    color: white;
}
th{
    color: white;
}